@model IEnumerable<ImdbRandomMovie.Models.MovieModel>

@{
    ViewData["Title"] = "Random Movies";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Original Title</th>
            <th>Start Year</th>
            <th>Runtime (Minutes)</th>
            <th>Average Rating</th>
            <th>Number of Votes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.PrimaryTitle</td>
                <td>@movie.OriginalTitle</td>
                <td>@movie.StartYear</td>
                <td>@movie.RuntimeMinutes</td>
                <td>@movie.AverageRating</td>
                <td>@movie.NumVotes</td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("RandomMovies", "Movie")" class="btn btn-primary">Show Random Movies</a>
