@model ImdbRandomMovie.Models.MovieFilterViewModel

@{
    ViewData["Title"] = "Movie Filter";
}

<h2>Film Filtreleme</h2>

<form method="get" action="@Url.Action("Movie", "Movie")">
    <div>
        <label for="genre">Tür Seçin:</label>
        <select name="genre" id="genre">
            <option value="" selected="@string.IsNullOrEmpty(Model.Genre)">Tüm Türler</option>
            <option value="Action" selected="@Model.Genre == " Action"">Action</option>
            <option value="Comedy" selected="@Model.Genre == " Comedy"">Comedy</option>
            <option value="Drama" selected="@Model.Genre == " Drama"">Drama</option>
            <option value="Thriller" selected="@Model.Genre == " Thriller"">Thriller</option>
            <option value="Horror" selected="@Model.Genre == " Horror"">Horror</option>
            <option value="Romance" selected="@Model.Genre == " Romance"">Romance</option>
        </select>

    </div>

    <div>
        <label for="minRating">Minimum Rating:</label>
        <input type="number" name="minRating" id="minRating" min="0" max="100" value="@Model.MinRating" />
    </div>

    <div>
        <label for="minVotes">Minimum Oy Sayısı:</label>
        <input type="number" name="minVotes" id="minVotes" min="0" value="@Model.MinVotes" />
    </div>

    <button type="submit">Filtrele</button>
</form>

<hr />

<h3>Filtrelenmiş Filmler</h3>

<table>
    <thead>
        <tr>
            <th>Film Adı</th>
            <th>Oylama Sayısı</th>
            <th>Rating</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Votes</td>
                <td>@movie.Rating</td>
                <td>@movie.Genres</td>
            </tr>
        }
    </tbody>
</table>
